PORT_POSTGRES=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=erpSIMM
DATABASE_HOST=127.0.0.1
PGADMIN_DEFAULT_EMAIL=codelabsimm@gmail.com
PGADMIN_DEFAULT_PASSWORD=root
PORT_PGADMIN=80
IMAGE_DB=postgres
IMAGE_ADMINER=dpage/pgadmin4:snapshot